{{> common/head}}

<title>Coche - AlquilaYA.es</title>

{{> common/header}}

    <!--Car info-->
    <div class="container text-center" style="margin-top: 0px; padding-top: 175px;">
      <p>{{car.name}}</p>
      <p>{{car.image}}</p>
      <p>{{car.price}}</p>
      <p>{{car.dealership.name}}</p>
      
      {{#car.comments}}
        <p>{{author.name}}</p>
        <p>{{numberStars}}</p>
        <p>{{message}}</p>
      {{/car.comments}}
      <a href="/car/{{car.ID}}/new-edit">Editar Coche</a>
      <form action="/car/{{car.ID}}/delete" method="post"><input type="submit" value="Borrar Coche"></form>
    </div>

{{> common/footer}}


    