{{> common/head}}

<title>Concesionario {{dealership.name}} - AlquilaYA</title>

{{> common/header}}

<!-- Page Content -->

<div class="page-heading about-heading header-text"
  style="background-image: url(assets/images/heading-6-1920x500.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h2>{{dealership.name}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="products">
  <div class="container">
    <div class="row">
      {{#dealership.cars}}
      <div class="col-md-4">
        <div class="product-item">
          <a href="/car/{{ID}}"><img src="/images/{{image}}.jpg" alt=""></a>
          <div class="down-content">
            <a href="/car/{{ID}}">
              <h4>{{name}}</h4>
            </a>
            <h6>{{price}}</h6>
          </div>
        </div>
      </div>
      {{/dealership.cars}}
    </div>
  </div>
</div>


{{> common/footer}}