<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <title>concesionarios</title>

    
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.css">
</head>
<body>
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>  
<!-- ***** Preloader End ***** -->

<!-- Header -->

<header class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/"><h2>Alquila <em>YA</em></h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li> 

            <li class="nav-item "><a class="nav-link" href="/cars">Coches Disponibles</a></li>
            <li class="nav-item"><a class="nav-link" href="/dealership">Concesionarios</a></li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="team.html">Nuestro equipo</a>
                  <a class="dropdown-item" href="/comments.html">Reseñas</a>
                </div>
            </li>

            
        </ul>
      </div>
    </div>
  </nav>
</header>
 
<!-- Page Content -->
 <div class="page-heading about-heading header-text" style="background-image: url(assets/images/blog-2-370x270.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h2> Concesionarios </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="latest-products">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          
        </div>
        <div class="col-md-4">
          <div class="product-item">
            <a href="offers.html"><img src="assets/images/madrid_dealer.jpg" alt=""></a>
            <div class="down-content">
              <a href="offers.html"><h4>Concesionario PrimeMotors</h4></a>
              <h6>Madrid</h6>
              <h6>C/ de Santa Engracia 10</h6>
              <p>Considerado el mejor concesionario de Madrid.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="product-item">
            <a href="offers.html"><img src="assets/images/barcelona_dealer.jpg" alt=""></a>
            <div class="down-content">
              <a href="offers.html"><h4>Concesionario LuxeDrive</h4></a>
              <h6>Barcelona</h6>
              <h6>Avinguda diagonal</h6>
              <p>Uno de los concesionarios mas lujosos de Barcelona.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="product-item">
            <a href="offers.html"><img src="assets/images/valencia_dealer.jpg" alt=""></a>
            <div class="down-content">
              <a href="offers.html"><h4>Concesionario SmartWheels</h4></a>
              <h6>Valencia</h6>
              <h6>Avenida del Cid</h6>
              <p>Concesionario número 1 en cuanto a velocidad de gestión y fiabilidad.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <p>Copyright © 2020 Company Name - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Additional Scripts -->
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/owl.js"></script>
</body>
</html>
