{{> common/head}}

    <title>AlquilaYA.es</title>

{{> common/header}}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h2>¡Encuentra tu coche en 3 clicks!</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Concesionarios Asociados</h2>
              <a href="dealership.html">view more <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          
          {{#dealership}}
          <div class="col-md-4">
            <div class="product-item">
              <a href="/dealership/{{ID}}"><img src="/images/{{name}}.jpg" alt=""></a>
              <div class="down-content">
                <a href="/dealership/{{ID}}"><h4>Concesionario {{name}}</h4></a>
                <h6>{{location}}</h6>
                <h6>{{address}}</h6>
                <p>{{description}}</p>
              </div>
            </div>
          </div>
          {{/dealership}}
          
        </div>
      </div>
    </div>

{{> common/footer}}