{{> common/head}}

<title>New car - AlquilaYA.com</title>

{{> common/header}}

<div class="container text-center" style="margin-top: 0px; padding-top: 175px;">
    <form action="/car/new-edit" method="post">
        <select name="ID">
            {{^edit}}
            <option value="0">Crear Coche</option>
            {{/edit}}
            {{#cars}}
            <option value="{{ID}}">{{name}}</option>
            {{/cars}}
        </select>

        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" required>

        <label for="price">Precio</label>
        <input type="number" name="price" id="price" required>

        {{^priceError}}
            <p style="color:red;">El precio debe ser positivo</p>
        {{/priceError}}

        <p>Image: </p>
        <input type='file' name='imageField' accept=".jpg, .jpeg, .png" />

        <label>Concesionarios</label>
        <div style="max-height: 200px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
            {{#dealerships}}
            <div>
                <input type="checkbox" 
                    name="dealershipIDs" 
                    id="dealership_{{ID}}" 
                    value="{{ID}}"
                    {{#selected}}checked{{/selected}}>
                <label for="dealership_{{ID}}" style="margin-left: 5px;">{{name}}</label>
            </div>
            {{/dealerships}}
        </div>

        <input type="submit" value="Enviar">
    </form>
</div>

{{> common/footer}}