{{> common/head}}

<title>New car - AlquilaYA.com</title>

{{> common/header}}

<div class="container text-center" style="margin-top: 0px; padding-top: 175px;">
    <form action="/car/new-edit" method="post" enctype="multipart/form-data">
        <select name="ID">
            {{^edit}}
            <option value="0">Crear Coche</option>
            {{/edit}}
            {{#cars}}
            <option value="{{ID}}">{{name}}</option>
            {{/cars}}
        </select>

        <label for="name">Nombre</label>
        <input value="{{^carExists}}{{car.name}}{{/carExists}}" type="text" name="name" id="name" required>

        <label for="price">Precio</label>
        <input value="{{^carExists}}{{car.price}}{{/carExists}}" type="number" name="price" id="price" required>

        <p>Image: </p>
        <input type='file' name='imageFile' accept=".jpg, .jpeg, .png" />

        <br><br>

        <select multiple name="dealershipIDs">
            {{#dealerships}}
            <option value="{{dealership.ID}}" {{#isSelected}}selected{{/isSelected}}>{{dealership.name}}</option>
            {{/dealerships}}
        </select>


        <input type="submit" value="Enviar">
    </form>
</div>

{{> common/footer}}