{{> common/head}}
<title>{{#edit}}Edit{{/edit}}{{^edit}}New{{/edit}} Dealership - AlquilaYA.com</title>
{{> common/header}}

<div class="container text-center" style="margin-top: 0px; padding-top: 175px;">
    <form action="/dealership/new-edit" method="post">
        <select name="ID">
            {{^edit}}
            <option value="0">Crear Concesionario</option>
            {{/edit}}
            {{#dealerships}}
            <option value="{{ID}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/dealerships}}
        </select>

        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" id="name" 
                   value="" required>
        </div>

        <div class="form-group">
            <label for="location">Localización</label>
            <input type="text" class="form-control" name="location" id="location" 
                   value="" required>
        </div>

        <div class="form-group">
            <label for="address">Dirección</label>
            <input type="text" class="form-control" name="address" id="address" 
                   value="" required>
        </div>

        <div class="form-group">
            <label for="tlf">Teléfono</label>
            <input type="tel" class="form-control" name="tlf" id="tlf" 
                   value="" required>
            {{#phoneError}}
                <p style="color:red;">Formato de teléfono inválido</p>
            {{/phoneError}}
        </div>

        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea class="form-control" name="description" id="description" 
                      rows="3" required></textarea>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Guardar">
        </div>
    </form>
</div>

{{> common/footer}}
